<% if current_user.nil? %>
<div style="
  width:$(window).width();
  height:65%;
  background-color:rgba(253,249,249,.67);
  overflow:auto;
  border-radius:10% 10% 10% 10%;
  border-style:solid;
  border-width:12px;
  border-color:rgba(253,249,249,.4);
  padding:3% 3% 3% 3%;
  margin-left:4%;
  margin-right:4%;
  ">
 <center>
<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Sign in", class: 'btn btn-small btn-primary' %>
<% end %>
</center>
</div>
<% else %>
<% redirect_to 'users/diplay' %>
<% end %>

