<% if current_user.nil? %>
<div style="
  width:$(window).width();
  height:65%;
  background-color:rgba(253,249,249,.67);
  overflow:auto;
  border-radius:10% 10% 10% 10%;
  border-style:solid;
  border-width:12px;
  border-color:rgba(253,249,249,.4);
  padding:3% 3% 3% 3%;
  margin-left:4%;
  margin-right:4%;
  ">
 <center>
<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Sign in", class: 'btn btn-small btn-primary' %>
<% end %>
</center>
</div>
<% else %>


<div style="
  width:$(window).width();
  height:65%;
  background-color:rgba(253,249,249,.67);
  overflow:auto;
  border-radius:10% 10% 10% 10%;
  border-style:solid;
  border-width:12px;
  border-color:rgba(253,249,249,.4);
  padding:3% 3% 3% 3%;
  ">



  <% if User.all.microposts.any? %>
  <ol class="microposts">
  <%= render @microposts %>
</ol>
<%= will_paginate @microposts %>
  <% end %>

</div>

<div style="
width:$(window).width();
height:31%;
margin-top:4%;
background-color:rgba(253,249,249,.74);
overflow:auto;
border-radius:10% 10% 10% 10%;
border-style:solid;
border-width:12px;
border-color:rgba(253,249,249,.4);
padding:3% 3% 3% 3%;
">
<%= form_for(@micropost) do |f| %>
  <%= f.text_area :content, :value => "", rows: 10, :style => "width:100%"  %>
 &nbsp &nbsp <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


</div>
<% end %>

