<% if current_user.nil? %>
<div style="
  width:$(window).width();
  height:500px;
  background-color:rgba(253,249,249,.67);
  overflow:scroll;
  border-radius:5px 5px;
  border-style:solid;
  border-width:12px;
  border-color:rgba(253,249,249,.4);
  padding:3% 3% 3% 3%;
  margin-left:4%;
  margin-right:4%;
  ">
 <center>
<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Sign in", class: 'btn btn-small btn-primary' %>
<% end %>
</center>
</div>
<% else %>


<div style="
  width:$(window).width();
  max-height:450px;
  margin-right:2%;
  margin-left:2%;
  background-color:rgba(253,249,249,.67);
  overflow:auto;
  border-radius:22px 22px 22px 22px;
  border-style:solid;
  border-width:12px;
  border-color:rgba(253,249,249,.4);
 padding-top:20px;
padding-right:7px;
padding-left:7px;
  ">


<ol class="microposts">
  <%= render @microposts %>
</ol>
<%= will_paginate @microposts %>


</div>

<div style="
width:$(window).width();
height:31%;
margin-top:4%;
  margin-right:2%;
  margin-left:2%;
background-color:rgba(253,249,249,.74);
overflow:auto;
border-radius:10% 10% 10% 10%;
border-style:solid;
border-width:12px;
border-color:rgba(253,249,249,.4);
padding-top:20px;
padding-right:7px;
padding-left:7px;
">
<%= form_for(@micropost) do |f| %>
  <%= f.text_area :content, :value => "", rows: 6, :style => "width:100%"  %>
 &nbsp &nbsp<center><%= f.submit "Post", class: "btn btn-primary" %></center>
<% end %>


</div>
<% end %>

