<li>
<% if micropost.user.id == 1 %>

  <div style="
  width:100%;

  background-color:rgba(252,240,244,.7);
  ">
  <table style="border:none;"><tr><td style="min-height:121px; width:191px; padding:3px; vertical-align:center;">
  <%= image_tag("tiger1.jpg") %>
  </td>
<td style=" min-height:121px; vertical-align:center; padding:15px;">
  <%= micropost.content %><br><br>
  <center>Posted <%= time_ago_in_words(micropost.created_at) %> a go</center></p>
  </td></tr></table>
  <% else %>

  <div style="
  width:100%;
  padding-top:15px;
  padding-bottom;15px;
  background-color:rgba(240,252,244,.7);
  ">
  <div style="
  align:right;
  float:right;
  "><%= image_tag("stag1.jpg") %>
  </div>
  <div style="
  alight:left;
  float:left;
  padding-left:7px;
  "><%= micropost.content %><br>
  <center>Posted <%= time_ago_in_words(micropost.created_at) %> a go</center></div>
<% end %>
</li>





<!--
<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>  -->

